h1, h4 { 
    color: rgb(106, 138, 106); 
  } 
  
  nav { 
    min-height: 10vh; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 2rem; 
    margin-bottom: 20px; 
    
    button { 
      background: transparent; 
      border: 2px solid rgb(212, 228, 210); 
      border-radius: 5px; 
      padding: 0.8rem 1.5rem;
      font-size: 16px; 
      cursor: pointer; 
      transition: all 0.3s ease; 
  
      &:hover { 
        background: rgb(89, 219, 77); 
        color: white; 
      } 
    } 
  } 
  
  @media screen and (max-width: 768px) { 
    nav { 
      flex-direction: column; 
      justify-content: center; 
      padding: 1rem; 
  
      button { 
        margin: 10px 0;
      } 
    } 
  } 
